/* Root */

:root {
--title-color: beige;
--text-color: rgb(216, 174, 255);
--background-color: rgb(30, 23, 61);
--selection-color: rgb(82, 5, 146);
--selection-textcolor: rgb(208, 151, 255);
}

/* Element */

body {
    background-color: var(--background-color);
    font-family: monospace;
}
::selection {
    background-color: var(--selection-color);
    color: var(--selection-textcolor);
}
h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: var(--title-color);
}
h2 {
    text-align: center;
    font-weight: bold;
    color: var(--title-color);
}
p {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}
a {
    color: var(--text-color);
}
a:hover {
    color: beige;
}
hr {
    border-color: beige;
    color: beige;
    width: 100%;
}
footer {
    text-align: center;
    font-style: italic;
}
button {
    color: rgb(30, 23, 61);
    background-color: rgb(216, 174, 255);
    border-color: rgb(216, 174, 255);
    text-align: center;
    font-size: 25px;
}
button:hover {
    color: beige;
    background-color: rgb(68, 50, 148);
    border-color: rgb(68, 50, 148);
}

/* Class */

 .maindiv {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.description {
    font-weight: bold;
}
